extends templates/base

block header 
    include templates/header
block main
    .container.bg-dark.w-50.mt-2.py-3.mb-5
        .row.justify-content-center
            .col-3
                button.btn.btn-primary.d-block.w-100.mb-2#btn-append Append
                input(type="number" min="1" max="9999" placeholder="data here").d-block.w-100#txt
            .col-3
                button.btn.btn-primary.d-block.w-100.mb-2#btn-insert Insert
                input(type="number" min="0" max="9999" placeholder="index here").d-block.w-100#txt-index
            .col-3
                button.btn.btn-primary.d-block.w-100.mb-2#btn-remove Remove
                .radio-opt
                    p.text-light Remove by: 
                    input(type="radio" name="remove" id="data")
                    label(for="data").text-light Data
                    input(type="radio" name="remove" id="index")
                    label(for="index").text-light Index
        .row.justify-content-center.error-block.invisible
            .col-6
                include templates/errormessage
                    
    .container.elements-container.linear.py-5#elements-container
        .element.d-flex
            .data.rounded-circle 1
        //- .element.d-flex
        //-     .arrow-right
        //-         img(src="resources/svg/down-arrow.svg").right
        //-     .data.rounded-circle 2
        //- .element.d-flex
        //-     .arrow-right
        //-         img(src="resources/svg/down-arrow.svg").right
        //-     .data.rounded-circle 3
        //- .element.d-flex
        //-     .arrow-right
        //-         img(src="resources/svg/down-arrow.svg").right
        //-     .data.rounded-circle 4
        //- .element.d-flex
        //-     .arrow-right
        //-         img(src="resources/svg/down-arrow.svg").right
        //-     .data.rounded-circle 3
      

    script(src="js/validations.js")
    script(src="js/linked.js")