include ../config/config

block header
    div.force.overflow
        nav.navbar.navbar-expand-lg.navbar-dark
        .flex-column
        ul.navbar-nav.navbar-collapse.flex-column
            each item in listItems
                li.nav-item.mb-2
                    if item == "Begin"
                        a.nav-link.text-light(href="index.html")
                            img(src="resources/svg/dashboard.svg")
                            =`${item}`
                    else
                        a.nav-link.text-light(href=`${item.toLowerCase().replace(" ",'')}.html`)
                            img(src=`resources/svg/${item.replace(" ","")}.svg`)
                            =`${item}` 
                
