@import "base/base";

.main-header{
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.main-content{
    margin-left: 250px;
}

.elements-container{
    //width:30%;
    display: flex;
}

.flex-center{
    align-items: center;
}

.vertically{
    flex-direction: column-reverse;
}

.linear{
    flex-direction: row;
}

.element{
    text-align:center;
    .data{
        width: 100px;
        height: 100px;
        background-color: hsl(150, 100%, 38%);
        font-size: 20px;
        padding-top:35px;
    }

    img{
        width: 60px;
    }
}

.arrow-left{
    transform: rotate(90deg);
    padding-top: 20px;
}

.arrow-right{
    transform: rotate(-90deg);
    padding-top: 20px;
}

.error-icon{
    width: 20px;
    height: 20px;
}



.error-message{
    color: #da4453;
    position: relative;
    top: 2px;
}


//Javascript manipulation
.invisible{
    display: none;
}

.isEmpty{
    box-shadow: 0px 0px 0px 3px #da4453;//rgba(255,0,0,0.75);
    border: none;
}

